<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h1 class="text-center mb-5">CRUD</h1>
        <div class="row">
            <div class="col-md-6">
                <form action="/" method="POST">

                    <div class="form-group">
                        <input type="text" class="form-control" name="name" value = "{{name}}">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="lastName" value = "{{lastName}}">
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control" name="age" value = "{{age}}">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" value = "{{email}}">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">name</th>
                            <th scope="col">lastName</th>
                            <th scope="col">age</th>
                            <th scope="col">email</th>
                             <th scope="col">update</th>
                            <th scope="col">remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each user}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.lastName}}</td>
                            <td>{{this.age}}</td>
                            <td>{{this.email}}</td>
                            <td><a href="/user/{{this._id}}">Modificar</a></td>
                            <td><a href="/{{this._id}}">Remover</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>

</html>